.btn.btn-primary {
    padding: 5px;
    background-color: #3b4a6b;
    border-color: #3b4a6b;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

    
.btn2.btn-primary {
    padding: 5px;
    border-color: #f0d43a;
    background-color: #f0d43a;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

 table {
    border-radius: 5px;
}

    
