.details-class {
    width: inherit;
    margin-top: 40px;
    margin-left: 20px;
}

.details-class .detail-box {
}
.details-class .images-box {
    margin-inline-start: 10px;
    width: 20%;
    float: left;
}
.details-class .images-box  img{
    width: 100%;
    height: auto;
}
.details-class .detail-box .info-box {
    margin-left: 0px;
    width: 70%;
}
.details-class .detail-box .info-box .name-box {
    width: 80%;
}
.details-class .detail-box .info-box .items {
    margin-block-start: 10px;
}
.details-class  .description-box {
    margin-top: 100px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    
}
.cart-btn1 {
    width: 20%;
    color: white;
    background-color:#3b4a6b;
    margin-bottom: 10px;
}
.cart-btn2 {
    width: 20%;
    color: white;
    background-color:#f0d43a;
} 
