.details-class {
    width: inherit;
    margin-top: 40px;
    margin-left: 20px;
}

.details-class .detail-box {
    margin-bottom: 100px;
}
.details-class .detail-box .images-box {
    width: 30%;
    float: left;
}
.details-class .detail-box .images-box  img{
    width: 60%;
    height: 50%;
}
.details-class .detail-box .infobox{
    width: 70%;
    float: right;
}
.details-class .description-box {
}
.cart-btn1 {
    width: 20%;
    color: white;
    background-color:#3b4a6b;
    margin-bottom: 10px;
}
.cart-btn2 {
    width: 20%;
    color: white;
    background-color:#f0d43a;
} 
