<section class="shop_section layout_padding">
    
      <div class="row">        
        <div class="col-sm-6 col-xl-3"  *ngFor="let product of products | paginate: { itemsPerPage: pageSize, currentPage: pageNumber } ">
              <div class="box">
              <a routerLink="/products/{{product._id}}">
                <div class="img-box">
                  <img src="{{connectionService.url}}/{{product.imageUrl}}" alt="">
                </div>
                <div class="detail-box">
                  <h6>
                    {{product.name.slice(0,70)}}...
                  </h6>
                  <br>
                  <h5>
                  </h5>
                </div>
                <div class="new">
                  <span>
                    &#8377;{{product.price}} 
                  </span>
                </div>
              </a>
              
              <button class = "cart-btn" (click)="addToCart(product)" >Add to Cart</button>
            
            </div>
          </div>
        <!-- if products empty then display a message-->
        <div *ngIf="products.length == 0">
            <p>Sorry currenntly there are no products available</p>
        </div>
</div>
<div class="footer-pagination">
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>

</section>


